@font-face {
    font-family: Grotesk;
    src: url(ArchivGroteskTrial-RegularTrial.otf);
}

.btn:hover{
    background: rgb(27, 117, 252);
}

body {
    font-family: Grotesk;
    font-weight: 600;
    background: rgb(53, 53, 53) ;
    color: white;
}

.nameSelected {
    color: red;
    font-size: 2rem;
}